button{
    outline:none;
    border:none;
    width:90%;
    padding: 10px 5px;
    background:rgb(36, 54, 144);
    border-radius: 5px;
    font-weight: bold;
    margin-inline: auto;
    color: aliceblue;

}

button:hover{
    opacity:.6;
}